.container {
    width: 600px;
    margin: 20px auto;
    border: solid 1px;
    border-radius: 5px;
}
.regstContainer {
    width: 400px;
    margin: 20px auto;
    border: solid 1px;
    border-radius: 5px;
}

table {
    margin: 0 auto;
    width: 500px;
    border-collapse: collapse;
}
table, tr, th, td {
    border: solid 1px;
}
.error {
    font-size: 12px;
    color: red;
}
li {
    display:inline;
}

.regist_form {
    border: solid 1px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
}
.btnSubmit {
    display:block;
}
.formSubmit {
    margin:0 auto;
}
.search {
    margin: 10px auto;
    margin-top: 10px;
    width: 500px;
    border: solid 1px;
    border-radius: 5px;
}
.formSearch {
    margin: 5px;
    text-align: center
}