.container {
    width: 400px;
    margin: 20px auto;
    border: solid 1px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}
table, tr, th, td {
    border: solid 1px;
}
.error {
    font-size: 12px;
    color: red;
}
li {
    display:inline;
}

.regist_form {
    border: solid 1px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
}
.btnSubmit {
    display:block;
}